logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

server/node_modules
server/dist
server/*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# 로그 파일 무시
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 클라이언트(node_modules, 빌드 결과물) 무시
client/node_modules
client/dist
client/dist-ssr
client/*.local

# 서버(node_modules, 빌드 결과물) 무시
server/node_modules
server/dist
server/*.local

# VSCode 설정 무시 (필요한 extensions.json은 제외)
.vscode/*
!.vscode/extensions.json

# IDE 및 Mac OS 시스템 파일 무시
.idea
.DS_Store

# Visual Studio 관련 파일 무시
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?